<%= provide :title, @user.name %>
<h1>
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</h1>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>
<p><%= t("users.created_at", date: l(@user.created_at)) %></p>
<p><%= t("users.updated_at", date: l(@user.updated_at)) %></p>
<div class="col-md-8">
  <%= render "follow_form" if logged_in? %>
  <% if @user.microposts.any? %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%== pagy_bootstrap_nav @pagy %>
  <% end %>
</div>
